body {
	font-size: 16px;
	background: #f6f6f6;
}

/*Navigation Bar*/
.navbar-default {
	background-color: white;
}

/*Nav Link Colors*/
.navbar-default.navbar-nav > li > a {
	color: black
}

/*Nav Link Hover Colors*/
.navbar-default .navbar-nav > li > a:hover {
	background-color: #EBEBEB
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

/*Header*/
.header {
	margin-top: 20px;
	padding: 30px 0;
	border-top: 10px;
}

.profile-img {
	margin-right: 30px;
	margin-top: 20px;
	border-radius: 10%;
}

.pull-left {
	float: left;
}
